{% extends "layout.html" %}

{% load add_attr %}

{% block title %}Register for Swapit!{% endblock %}

{% block main %}

  <h2>Create Account</h2>

  <form method="post">
    {% csrf_token %}

    <!-- render the form wrapped in <p> tags -->
    <!-- {{ form.as_p }} -->
    {% for field in form %}
      <div class="form-group">
        {{ field|add_attr:"class:form-control" }}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>

{% endblock %}
